*.pyc
*.pyo
*.db
*.pot
*.swp
*.swo
*.doctree
.doctrees
.DS_Store
.coverage
.idea/
local_settings.py
build/
docs/build/
dist/
webpack_bundles/
childsafeai/static/
db.*
node_modules
local.py
.eslintcache
*.log
/coverage
**/package-lock.json
childsafeai/webpack-stats.json
